<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="PokeFacts" content="Basic fact search for Pokemon">
    	<meta name="keywords" content="pokemon, facts, app">
		<meta name="viewport" content="width=device width, initial-scale=1">

		<title>PokeFacts</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>
	<body class="<%= info.types[0].type.name %>">
		<section class="form">
			<h1>PokéFacts</h1>
			<form action="/getPokemon" method="GET">
				<input type="text" name="input" id="input" placeholder="Pokémon name">
				<button type="submit" name="button" id="button">Get Info</button>
			</form>
		</section>
		
		<section class="infoContainer">
			<h2><%= info.name[0].toUpperCase() + info.name.slice(1) %></h2>
			<h3>#<span class="dexNumber"></span><%= info.id %></h3>
			<h3 class="typeContainer">Type: <span class="type"><%= info.types[0].type.name[0].toUpperCase() + info.types[0].type.name.slice(1) %></span></h3>
		</section>
		
		<section class="spriteContainer">
			<h3>Sprite</h3>
			<img class="sprite" src="<%= info.sprites.front_default %>" alt="">
			<h3>Shiny Sprite</h3>
			<img class="shiny" src="<%=info.sprites.front_shiny %>" alt="">
		</section>
		
	</body>
</html>
